  <%= form_with url: search_path, local: true, method: :get do |f| %>
    <div class="container md-3 mb-2 mt-2">
      <div class="row mx-auto">
        <%= f.text_field :word, class: 'form-control col-md-3',placeholder: 'word' %>
        <%= f.select :model, options_for_select([['User'], ['Book']]), {}, class: 'form-control col-2' %>
        <%= f.select :method, options_for_select([['完全一致','perfect_match'], ['前方一致','forward_match'], ['後方一致', 'backward_match'], ['部分一致', 'partial_match']]), {}, class: 'form-control col-2'  %>
        <%= f.submit '検索', class: 'btn btn-primary btn-sm' %>
      </div>
    </div>
  <% end %>
